.formspreeWrapper {
  text-align: center;
  color: black;
  padding: 5em;
  background-image: url('../../assets/formspree-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

input {
    height: 2vh;
    width: 50vh;
}

textarea {
    height: 20vh;
    width: 50vh;
}

