<div class="auth-container">
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h3>Login</h3>
      <div>
        <label for="username">Username:</label>
        <br />
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter username" />
      </div>
      <br />
      <div>
        <label for="email">Email:</label>
        <br />
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter email address" />
      </div>
      <br />
      <div>
        <label for="password">Password:</label>
        <br />
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
      </div>
      <br />
      <button [disabled]="loading" type="submit" class="btn1" (click)="Login()">Login</button>
      <a routerLink="/signup">Don't have an account yet?</a>
    </form>
  </div>
</div>
