<div class="auth-container">
  <div class="form">
    <form (ngSubmit)="login()">
      <h3>Login</h3>
      <div>
        <label for="username">Username:</label>
        <br />
        <input type="text" id="username" [formControl]="username" class="form-control" placeholder="Enter username" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <br />
        <input type="password" id="password" [formControl]="password" class="form-control" placeholder="Password" />
      </div>
      <br />
      <button type="submit" class="btn1">Login</button>
      <br /><br />
      <a routerLink="/signup">Don't have an account yet?</a>
    </form>
  </div>
</div>
