.auth-container > * { 
  margin-top: 5em;
  padding: 2em;
  border-radius: 1em;
  width: 30%;
}

.example-card {
  text-align: center;
  margin: 10px auto;
  background-color: salmon;
}

.header {
  justify-content: center;
}