<div *ngIf='restaurants'>
  <div *ngFor='let restaurant of restaurants.data.places'>
    <div class='card animated fadeInUp slower'>
      <div class='cardContainer'>
        <h3>{{ restaurant.name }}</h3>
        <p><i>{{ restaurant.name_suffix }}</i></p>
        <p>Original Name: <br/> {{ restaurant.original_name }}</p>
        <p>{{ restaurant.perex }}</p>
        <img class="poiPicture" src="{{ restaurant.thumbnail_url }}"/>
        <p>Website: <br/><a href="{{ restaurant.url }}">Click for More Information</a></p>
      </div>
    </div>
  </div>
</div>