button {
    border: 1px solid black;
    margin: 5px;
    background-color: darkorange;

}

.navbar {
  /* background-image: url(https://image.freepik.com/free-vector/geometric-background-in-orange-and-blue_1095-284.jpg); */
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV5-qW8LSmtnArfxXqfp_c1G6H1fRTSDV3H-iJI48B3HJ2w-XM); */
  background-image: url(../assets/navbar-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.mat-icon {
  width: 100%;
}