<div class="jumbo animated fadeIn slower">
<form style="text-align: center">
  <br />
  <select class="dropDown" [formControl]="countryName" (click)='getCities()'>
    <option *ngFor="let countries of array[0]" value={{countries.countryIds}}>{{ countries.countryName }}</option>
  </select>
  <br /><br />
  <select *ngIf='cities' [formControl]='cityName'>
    <option *ngFor="let city of cities[0]" value={{city.cityIds}}>{{ city.cityName }}</option>
  </select>
  <br /><br />
  <!-- <input matInput type="text" [formControl]="cityName" class="searchBar"> -->
  <button type='submit' (click)='getPoi()'>Search</button>
</form>
<br /> <br />
<div *ngIf='poi' >
  <div *ngFor='let places of poi.data.places' >
    <div class="card animated fadeInUp slower"  >
      <div class="cardContainer" >
        <h3>{{ places.name }}</h3>
        <p><i> {{ places.name_suffix }} </i></p>
        <p>Original Name:<br /> {{ places.original_name }}</p>
        <p>{{ places.perex }}</p>
        <img class="poiPicture" src="{{ places.thumbnail_url }}" />
        <p>Website: <br/><a href="{{ places.url }}">Click For More Information</a> </p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <div *ngIf='array'>
  <div *ngFor='let video of array'>
    <div class="card">
      <div class="cardContainer">
          <div class="video">
              <video controls (click)="toggleVideo()" #videoPlayer>
                  <source src="{{ video.url }}" type="video/mp4" />
                  Browser not supported
              </video>
              <img src="{{video.attribution}}">
          </div>
      </div>
    </div>
  </div>
</div> -->

