<div class="auth-container">
  <h3>Sign Up</h3>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div>
        <label for="email">Username:</label>
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter username" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter email address" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
      </div>
      <div class="form-group">
        <button routerLink="/home" type="submit" class="btn1" (click)="Signup()">Submit</button>
        <a routerLink="/login">Already have an account?</a>
      </div>
    </div>
  </form>
</div>
