/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  background-color: black;
  color: white;
}
.mat-dialog-container {
  padding: 10px !important;
  background-color: darkorange !important;
}

/* Desktop PC & Responsive */
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100% !important;
  max-height: 100vh;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100% !important;
    max-height: 100vh;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
