<div class="jumbo">
  <img class="jumbo" src="https://media.giphy.com/media/TRmEQcrt2lxRe/source.gif">
</div>
<div class="wrapper" >
  <p>Founded in late October 2018 by a team of adventurers, No Borders was created for the ones with a love for travel, adventure, and experiencing the new and unique. Whether your dream is scaling the Alps, strolling through the streets of Rome, or sipping a fresh cup of steaming coffee at a cafe in Paris, you have come to the right place. Here, with the simple click of a button, you can begin your adventure and start to explore the world. </p>
  <p>Go ahead.</p>
  <button mat-raised-button routerLink='/signup'>Start your adventure</button>

</div>
<footer style="text-align:center">
</footer>


<!-- style="color: black;background-color:white;text-align:center;padding:50px 20px;text-align: justify;" -->