<div class="jumbo">
  <p class="logo animated fadeIn slower delay-2s" style="text-align: center">No Borders</p>
  <img class="jumbo animated fadeIn slower" src="../../assets/NoBordersHero.gif">
</div>
<div class="wrapper">
  <p>Founded in late October 2018 by a team of adventurers, No Borders was created for the ones with a love for travel,
    adventure, and experiencing the new and unique. 
    <br /> 
    Whether your dream is scaling the Alps, strolling through
    the streets of Rome, or sipping a fresh cup of steaming coffee at a cafe in Paris, you have come to the right
    place. 
    <br /> 
    Here, with the click of a button, you can begin your adventure and start to explore the world.
  </p>
  <br />
  <p>Simply sign in and create a bucketlist so you can plan out your dream vacations.<br/> Once visited, add locations to your completed list and keep track of everywhere you have traveled.</p>
  <br/>
  <p>Go ahead.</p>
  <button class="btn" mat-raised-button routerLink='/poi'>Start your adventure</button>
  <br /><br />
  <p style="background-color:black" class="admin">Want to become an Admin? Admins have the ability to control the database in case
    of inappropriate actions on
    the
    site by other users. If interested, please contact us <a routerLink='/formspree'>here</a> to
    apply
    to
    become an Admin.</p>
</div>
