/* Background Image */
.jumbo {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

/* | MEDIA QUERIES | */
/* Desktop PC */
.logo {
  font-family: 'Monoton', cursive;
  color: whitesmoke;
  border: 5px;
  font-size: 8vw;
  position: absolute;
  z-index: 1;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
/* Responsive */
@media screen and (max-width: 1157px) {
  .logo {
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    border: 5px;
    font-size: 8vw;
    position: absolute;
    z-index: 1;
    top: 32%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .logo {
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    border: 5px;
    font-size: 13vw;
    position: absolute;
    z-index: 1;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  .logo {
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    border: 5px;
    font-size: 13vw;
    position: absolute;
    z-index: 1;
    top: 32%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  .logo {
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    border: 5px;
    font-size: 12vw;
    position: absolute;
    z-index: 1;
    top: 38%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
/* Pixel 2 & Pixel 2 XL COMPLETE */
@media screen and (max-width: 412px) {
  .logo {
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    border: 5px;
    font-size: 12vw;
    position: absolute;
    z-index: 1;
    top: 38%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
/* iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 400px) {
  .logo {
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    border: 5px;
    font-size: 12vw;
    position: absolute;
    z-index: 1;
    top: 45%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  .logo {
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    border: 5px;
    font-size: 12vw;
    position: absolute;
    z-index: 1;
    top: 39%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

/* Home Page Text Below The Hero */
.wrapper {
  text-align: center;
  color: white;
  padding: 1em;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: 1px solid black;
  margin: 5px;
  background-color: darkorange;
}

a {
  color: darkorange;
}

.admin {
  font-size: 13px;
}