.jumbo {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.logo {
  font-family: 'Monoton', cursive;
  color: whitesmoke;
  border: 5px;
  font-size: 8vw;
  position: absolute;
  z-index: 1;
  top: 43%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.wrapper {
  text-align: center;
  color: white;
  padding: 5em;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

