/* Background Image */
.jumbo {
  background-image: url(../../assets/bnobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Button Groups / Media Queries */

/* Desktop PC */
.accountInfo {
  float:left;
  margin-left: 30vh;
  margin-top: 7vh;
}

.bucketList {
  float: right;
  margin-right: 30vh;
  margin-top: 10vh;
}

/* Responsive */
@media screen and (max-width: 1157px) {
  .accountInfo {
    float:left;
    margin-left: 30vh;
    margin-top: 7vh;
  }
  
  .bucketList {
    float: right;
    margin-right: 30vh;
    margin-top: 10vh;
  }
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .accountInfo {
    float:left;
    margin-left: 30vh;
    margin-top: 7vh;
  }
  
  .bucketList {
    float: right;
    margin-right: 30vh;
    margin-top: 10vh;
  }
}

/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  .accountInfo {
    float:left;
    margin-left: 30vh;
    margin-top: 7vh;
  }
  
  .bucketList {
    float: right;
    margin-right: 30vh;
    margin-top: 10vh;
  }
}

/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  .accountInfo {
    float:left;
    margin-left: 30vh;
    margin-top: 7vh;
  }
  
  .bucketList {
    float: right;
    margin-right: 30vh;
    margin-top: 10vh;
  }
}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  .accountInfo {
    float:left;
    margin-left: 30vh;
    margin-top: 7vh;
  }
  
  .bucketList {
    float: right;
    margin-right: 30vh;
    margin-top: 10vh;
  }
}

/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  .accountInfo {
    float:left;
    margin-left: 30vh;
    margin-top: 7vh;
  }
  
  .bucketList {
    float: right;
    margin-right: 30vh;
    margin-top: 10vh;
  }
}

/* Text Color & Buttons */

.title {
  text-align: center;
  top: 43%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

a {
  color: darkorange;
}

h1 {
  color: darkorange;
}

h3 {
  color: darkorange;
}


li {
  list-style: none
}

button {
  border: 1px solid black;
  margin: 5px;
  background-color: darkorange
}

/* Footer Text */

p {
  position: fixed;

  text-align: center;
  bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}