<h1>{{userData.username}}'s Account</h1>

<h4>Account Info</h4>

<ul>
  <li>Username: {{userData.username}}</li>
  <li>Email: {{userData.email}}</li>
</ul>

<button mat-raised-button (click)='openUpdateDialog()'>Update Account Information</button>
<br>
<button mat-raised-button (click)='openDeleteDialog()'>Delete Account</button>

<div class='admin' fxLayoutAlign="center">
  <p>Want to become an Admin? Admin's have the ability to control the database in case of inappropriate actions on the site by other users. If you are interested, please contact us <a routerLink='/formspree'>here</a> to apply to become an Admin.</p>
</div>
